block variables

doctype html
html(lang="pt")
  block head
  body
    block header
    block content
    block footer

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    script(src="js/slick.min.js" defer)
    script(src="js/main.js" defer)

