block variables

doctype html
html(lang="pt")
  block head
  body
    block header
    block content
    block footer

    //- script(src="js/main.js" defer)
    //- script(src="js/main.js" defer)
    script(src="js/main.js" defer)

