.ellipse-btn {
  margin-bottom: 1.4em;
  padding: 1.0em 4em;

  color: #ffffff;
  @extend %montserrat-600;
  @include adaptiv-font(27, 12);
  line-height: 1.2;
  border-radius: 2.6em;
  background: linear-gradient(0deg, #42005B 0%, #BE19FC 106.56%);
  border: none;
  cursor: pointer;

  transition: box-shadow 0.3s linear;

  &:hover {
    box-shadow: 0px 0px 25px 6px rgba(190, 25, 252, 0.4);

  }

  &:active {
    background: linear-gradient(180deg, #4C255B 0%, #2B005C 100%);
  }
}