 .speed {
   text-align: center;

   &__image {
     position: relative;
   }

   &__img {
     margin: 0 auto;

     &--scale,
     &--arrow {
       //  position: absolute;
     }

     &--arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center 153px;
        transform: translate(-50%, -50%) rotate(0deg);
     }
   }

   &__title {
     max-width: 420px;
     margin: 0 auto 30px;

     @include adaptiv-font(27, 18);
     @extend %montserrat-600;
     //  font-size: 27px;
     line-height: 1.2;
     // border-bottom: 2px solid rgba(25, 55, 25, 0.7);
     // box-shadow: 0px 0px 7.16822px rgba(25, 55, 25, 0.7);
     border-radius: 6px;
   }

   &__line {
     margin: 0 auto 26px;
     width: 90%;
     height: 5px;

     border-radius: 6px;
     background-color: $white;
     box-shadow: 0px 0px 7.16822px rgba(255, 255, 255, 0.7);
   }
 }