extends layouts/main

block head

  include layouts/head

//- block header

//-   include modules/header-slotsBooster

block content

  include modules/wrapper
    

block footer

  include modules/footer

block form

  include modules/motivForm

