footer
    //- .wooman-block 
    //-     button.btn-spin.lng-spinWheel.btn
    //-         span.orange-text spin wheel
    //-     picture 
    //-         source(type="image/avif" srcset="static/img/girl.avif")
    //-         source(type="image/webp" srcset="static/img/girl.webp")
    //-         img(src="static/img/girl.png", alt="girl", srcset="")
    //- .separator
    .payments-methods
        div 
            include ../icons/masterCardWB
            include ../icons/masterCardColor
        div
            include ../icons/visaWB
            include ../icons/visaColor
        div
            include ../icons/skrillWB
            include ../icons/skrillColor
        div
            include ../icons/bitcoinWB
            include ../icons/bitcoinColor
    .app-links 
        a(href="#") 
            include ../icons/androidApp
        a(href="#") 
            include ../icons/iosApp
    .soc-networks
        a(href="#") 
            include ../icons/telegram
            //- include ../icons/telegramColor
        a(href="#") 
            include ../icons/fb
            //- include ../icons/fbColor  
        a(href="#") 
            include ../icons/instagram
            //- include ../icons/instagramColor    

            