footer
    .payments-methods
        div 
            include ../icons/masterCardWB
            include ../icons/masterCardColor
        div
            include ../icons/visaWB
            include ../icons/visaColor
        div
            include ../icons/skrillWB
            include ../icons/skrillColor
        div
            include ../icons/bitcoinWB
            include ../icons/bitcoinColor
    .app-links 
        a(href="#") 
            include ../icons/androidApp
        a(href="#") 
            include ../icons/iosApp
    .soc-networks
        a(href="#") 
            include ../icons/telegram
        a(href="#") 
            include ../icons/fb
        a(href="#") 
            include ../icons/instagram