footer
    //- .separator
    .payments-methods
        div
          svg
            use(xlink:href="images/sprite.svg#masterCardWB")
          svg
            use(xlink:href="images/sprite.svg#masterCardColor")
        div
          svg
            use(xlink:href="images/sprite.svg#visaWB")
          svg
            use(xlink:href="images/sprite.svg#visaColor")
        div
          include ../icons/SkrillWB
          include ../icons/SkrillColor
        div
          svg
            use(xlink:href="images/sprite.svg#bitcoinWB")
          svg
            use(xlink:href="images/sprite.svg#bitcoinColor")
    .app-links
        a(href="#")
          svg.app-links__svg
            use(xlink:href="images/sprite.svg#icon-android") 
            //- include ../icons/iosApp

        a(href="#") 
          svg.app-links__svg
            use(xlink:href="images/sprite.svg#icon-iosapp")

    .soc-networks
      a(href="#") 
        svg.soc-networks__svg
          use(xlink:href="images/sprite.svg#icon-telegram")
      a(href="#")
        svg.soc-networks__svg
          use(xlink:href="images/sprite.svg#icon-insta")
      a(href="#")
        svg.soc-networks__svg
          use(xlink:href="images/sprite.svg#icon-fb") 