block variables 
  - var colorLine = 'hedden text - yellow line'

block instruction 

  .instruction
    .container
      .instruction__inner
        ul.instruction__items 
          li.instruction__number
            .instruction__content
              p.instruction__num.
                
              p.instruction__action.
                  Войди или зарегистрируйся
          li.instruction__number
            .instruction__content
              p.instruction__num.
                
              p.instruction__action.
                  Делай ставки на точный счет
          li.instruction__number
            .instruction__content
              p.instruction__num.
                
              p.instruction__action.
                  Получи фрибет до 10$
  