- 
  var title = 'Настраиваем приложение для увеличения вероятности выигрыша'


section.promo
  .container
    .promo__inner
      .promo__box
        h1.promo__title.
          cтавка
        h2.promo__subtitle.
          без риска
        .promo__cashback
          p.promo__get.
            забери
          p.promo__before.
            до
          p.promo__num.
            10$ 
        include btn
      .promo__image
        img.promo__img(src='../images/promo-img.png' alt='card')


  