section.slider.container
    .topBg
    .title предстоящие события
    .slider__wrapp         
        .slide 
            .slide__bgFilter
            .slide__bgFilter.slide__bgFilter-2
            .slide__bgFilter.slide__bgFilter-show
            .slide__title 02.12.2021
            .slide__content 
                .content
                    img(src="../images/slider-section/Manchester.png", alt="")
                    | ман.юнайтед
                .separator vs
                .content.content-right
                    img(src="../images/slider-section/Arsenal.png", alt="")
                    | арсенал
            a(href="#").slide__link сделать ставку  
        .slide 
            .slide__bgFilter
            .slide__bgFilter.slide__bgFilter-2
            .slide__bgFilter.slide__bgFilter-show
            .slide__title 66.55.4444
            .slide__content 
                .content
                    img(src="../images/slider-section/Manchester.png", alt="")
                    | ман.юнайтед 2
                .separator vs
                .content.content-right
                    img(src="../images/slider-section/Arsenal.png", alt="")
                    | арсенал 2
            a(href="#").slide__link сделать ставку 
        .slide 
            .slide__bgFilter
            .slide__bgFilter.slide__bgFilter-2
            .slide__bgFilter.slide__bgFilter-show
            .slide__title 43.92.0000
            .slide__content 
                .content
                    img(src="../images/slider-section/Manchester.png", alt="")
                    | ман.юнайтед 3
                .separator vs
                .content.content-right
                    img(src="../images/slider-section/Arsenal.png", alt="")
                    | арсенал 3
            a(href="#").slide__link сделать ставку 