section.terms.container
    .absolutBg.topRightBG
    .absolutBg.bottomLeftBG
    .title правила и условия
    .terms__container
        .terms__container-filter
        .terms__container-title Акция “Фрибет”
        ol.terms__container-list
            li В акции принимают участие игроки, которые сделали одиночную ставку на точный счет матча.
            li В акции принимают участие матчи, которые были предварительно утверждены и размещены на лендинге акции.
            li Если ставка игрока проигрывает, он получает промокод на фрибет до 10 долларов США (сумма фрибета равняется ставке игрока, но не превышает $10).  
            li Фрибет отыгрывается при ставке типа экспресс из не менее 3х событий с коэффициентом не менее 1.5
            li В акции принимает участие только первая ставка на событие.
            li В акции принимают участие ставки, сделанные только на основной счет события.
            li В акции могут принимать участие только зарегистрированные игроки с заполненным профилем, верифицированным имейлом и номером телефона.
            li Для участия в акции игрок должен дать согласие на участие в бонусных акциях в Личном кабинете в настройках аккаунта.