block wrapper 
  .wrapper
    //- .wrapper__image
    //-   picture 
    //-     source(srcset="images/main-bg.webp")
    //-     img.wrapper__img(src="images/main-bg.jpg" alt="field")  
    main.main
      include page-promo
      include instruction

        
  //- include popup-instructionAndroid
  include motivForm
  include popup
