.header {
  padding-left: 60px;

  @include breakpoint($mobile-bp) {
    padding-left: 20px;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // flex-wrap: wrap;
    padding: 0.6em 0;

    @include breakpoint($tablet-bp) {
      align-items: flex-start;
      // padding: 0.3em 0;
    }

    // @include breakpoint($mobile-bp) {
    //   align-items: self-start;
    //   // padding: 0.3em 0;
    // }
  }

  .registration {
    margin-left: auto;
  }

  &__box {
    max-height: 91px;
    // margin-left: 4vw;

    @include breakpoint($mobile-bp) {
      max-height: 54px;

      margin-left: 10px;
    }
  }

  .socials {
    margin-left: auto;

    @include breakpoint($mobile-bp) {
      margin-left: 0;
    }
  }

  // .logo {

  //   @include breakpoint($mobile-bp) {
  //     min-width: 80px;
  //     max-width: 25vw;
  //   }
  // }
}