.instruction {


  &__inner {
    position: relative;


  }

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;
    counter-reset: my-awesome-counter;

    @include breakpoint($middle-bp) {
      flex-direction: column;
    }
  }

  &__content {
    width: 70%;
    margin-left: 5%;
    // text-align: center;
    // margin: 0 auto;
  }

  &__number {
    padding-right: 20px;
    position: relative;
    z-index: 3;
    height: 12vw;

    max-width: 30%;
    display: flex;
    align-items: center;

    background: linear-gradient(90deg, #F40F3E 18.68%, rgba(254, 60, 100, 0.981731) 77.13%, rgba(255, 65, 104, 0) 132.86%);
    counter-increment: my-awesome-counter;

    @include breakpoint($middle-bp) {
      max-width: 100%;
      min-width: 70%;
      background: linear-gradient(90deg, #F40F3E 18.68%, rgba(254, 60, 100, 0.981731) 61.44%, rgba(255, 65, 104, 0) 101.34%);
    }

    // @include breakpoint($mobile-bp) {
    //   margin: 0 5vw;
    // }

    &::before {
      position: absolute;
      content: counter(my-awesome-counter);
      @include adaptiv-font(318, 84);
      line-height: 1;
      // font-size: 5.7vw;
      @extend %montserrat-900it;
      font-style: italic;
      color: $white;
    }

    &:nth-child(1) {
      &::before {
        left: -12%;

        @include breakpoint($middle-bp) {
          left: -5vw
        }
      }
    }

    &:nth-child(2) {
      &::before {
        left: -23%;

        @include breakpoint($middle-bp) {
          left: -7vw
        }
      }
    }

    &:nth-child(3) {
      &::before {
        left: -28%;

        @include breakpoint($middle-bp) {
          left: -8vw;
        }
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 10;
        right: -5%;
        top: 100%;
        transform: translateY(-50%);
        width: 13.5vw;
        height: 18vw;
        background-image: url('../images/hockey-equipment.png');
        background-size: cover;
        background-position: center;
      }
    }

    &:not(:last-child) {

      @include breakpoint($middle-bp) {
        margin-bottom: 6vw;
      }
    }
  }

  &__article {
    // padding-left: 20px;
    max-width: 60%;
    // margin: 0 auto;
  }

  &__action {
    padding-left: 2em;
    // @extend %round;
    // font-size: 26px;
    // font-size: 1.2vw;
    @include adaptiv-font(33, 11);
    font-weight: 600;
    color: $white;
    text-transform: uppercase;
    // transform: translate(-30px, 0px);



    span {
      display: block;
      padding-left: 35px;

      // @extend %betaandyou_1;
      color: $white;
      font-style: italic;
      text-transform: lowercase;

      @include breakpoint($tablet-bp) {
        font-size: 3.5vw;
      }
    }
  }
}