.slots {
  padding-top: 4vw;
  height: 100%;
  // background-image: url(../images/page-bg.webp);
  // background-image: -webkit-image-set(url(../images/page-bg.webp) 1x, url(../images/page-bg.webp) 1.5x, url(../images/page-bg.webp) 2x);
  // background-image: -webkit-image-set(url(../images/page-bg.jpg) 1x, url(../images/page-bg.jpg) 1.5x, url(../images/page-bg.jpg) 2x);
  // background-image: image-set(url(../images/page-bg.jpg) 1x, url(../images/page-bg.jpg) 1.5x, url(../images/page-bg.jpg) 2x);
  // background-position: center;
  // background-size: cover;

  @include breakpoint($xxl-bp) {
    // padding-top: 3vw;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    // align-items: center;
  }

  &__title {
    @include adaptiv-font(27, 18);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .container {
    // height: 100%;
  }

  &__actions {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto 30px;
    padding-top: 20px;
  }

  &__check {
    margin-bottom: 50px;
  }

  &__speed {}

  &__promo {
    width: 86%;
    margin: 0 auto;
    text-align: center;

    @include adaptiv-font(30, 18);
    @extend %montserrat-500;

    // font-size: 30px;
    left: 1.2em;



    span {
      color: red;
    }
  }
}